{% extends 'app_biblioteca/inicio.html' %}

{% load static %}
{% block contenido_que_cambia %}

<h1>¿Quienes somos?</h1>

    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p><strong>Somos Cristian Boto(24) y Cristian Nunes(28), ambos estudiamos Ciencias Económicas, y estamos dando nuestros primeros pasos en la programación.</strong>
                        <p><strong><br>Esta web fue creada utilizando los conocimientos adquiridos en el curso de programación en Python de <a href="https://www.coderhouse.com/">Coderhouse.</a> Con el fin de cumplir con las consignas indicadas.</br></strong>
                            <p><strong>Para su implementación, se utilizó el framework de <a href="https://www.djangoproject.com/">django</strong>
                </div>
            </div>
        </div>
    </article>

{% endblock %}