<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Ingreso de Encargados</title>
</head>
<body>
    <h1>Ingreso de Socios</h1>

    {% if formulario.errors %}
    <p style="color:red">"HAY ALGO MAL"</p>
    {% endif %}

    <form action="{% url 'ingreso_socios'%}" method="POST"> {% csrf_token %}

        <table>
            {{ formulario.as_table }}
        </table>

        <input type="submit" value="Enviar">

    </form>
    
</body>
</html>