<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bienvenidos biblioteca virtual</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app_biblioteca/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                {% if not request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'inicio' %}">Bienvenido</a>
                <a class="btn btn-danger" href="{% url 'login' %}">Iniciar Sesion</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Registrarse</a>
    
                {% else %}
                <a class="navbar-brand" href="{% url 'inicio' %}">Bienvenido</a>
                <a class="btn btn-primary" href="{% url 'leer_encargados' %}">Encargados</a>
                <a class="btn btn-primary" href="{% url 'leer_socios' %}">Socios</a>
                <a class="btn btn-primary" href="{% url 'leer_libros' %}">Libros</a>
                
                
                
                <p class="text-muted small mb-4 mb-lg-0">¡Hola {{ request.user.username }}!.</p>

                <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar sesion</a>
                {% endif %}
               
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead"style="background-image: url({% static 'app_biblioteca/assets/img/libros.jpg' %})">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            {% block titulo %}
                             <h1>Bienvenido</h1>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <h1>{{ mensaje }}</h1>
        {% block contenido_que_cambia %}
        
        <center><a class="btn btn-primary" href="{% url 'social' %}"><h2>¡Compartí con la comunidad!</h2></a></center>

        {% endblock %}
    


    </body> 

      

       

</html>
