{% extends 'app_biblioteca/inicio.html' %}

{% load static %}

{% block titulo %}
<h1>Compartí tus IDEAS</h1>
{% endblock %}


{% block contenido_que_cambia %}
<a class="btn btn-secondary" href="{% url 'agregar_post' %}">Crear un Posteo</a>
<h1>Nuestros temas de conversación</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article_detail' post.pk %}">{{ post.titulo }}</a> | Autor: {{ post.autor.first_name }} {{ post.autor.last_name}} |<small> <a href="{% url 'editar_post' post.pk %}">(Editar)</a></small>
    
    </li>

{% endfor %}
</ul>

{% endblock %}

